# This file can be used as a template for .env
# The values in this file are also the default values.

# Admin email address
ADMIN_EMAIL=admin@qgis.org

# Valid domain name
DOMAIN_NAME=rancher.qgis.org
